<!-- <amd-dependency path="si-portal-framework/koExtensions/singleClickBindingHandler" /> -->

<!-- ko with: vm -->
<div class="si-sidebar" data-bind="css :{'si-sidebar-is-collapsed' : collapsed}">
    <div class="si-sidebar-bar">
        <button class="si-sidebar-collapse-button si-has-hover" data-bind="singleClick : toggleCollapsed">
            <svg viewBox="0 0 15 15" class="siportalfx-svg-placeholder" role="img" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false"> <g> <rect y="2.85" width="15" height="1.01"></rect> <rect y="7" width="15" height="1.01"></rect> <rect y="11.14" width="15" height="1.01"></rect> </g> </svg>
        </button>
        <button class="si-sidebar-create si-has-hover si-has-border" title="New (N)">
            <div class="si-sidebar-button-flex">
                <div class="si-sidebar-create-icon si-fill-success">
                    <svg viewBox="0 0 18 18" class="siportalfx-svg-placeholder" role="img" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false"> <g id="Isolation_Mode"> <polygon id="XMLID_319_" class="st0" points="8,18 10,18 10,10 18,10 18,8 10,8 10,0 8,0 8,8 0,8 0,10 8,10"></polygon> </g> </svg>
                </div>
                <div class="si-sidebar-create-label si-sidebar-show-if-expanded">New</div>
            </div>
        </button>

        <!-- koLayout : $azurePortalSideBarLayout.favoritesLayout -->

    </div>
</div>
<!-- /ko -->